name: user_management
description: "A new Flutter project."

publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  dio: ^5.0.0
  flutter_bloc: ^8.1.3
  freezed_annotation: ^2.1.0
  json_annotation: ^4.8.0

dev_dependencies:
  build_runner: ^2.4.6
  freezed: ^2.3.2
  json_serializable: ^6.7.1
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
